.home-about{
  font-family: "Eater Caps";
  font-size:  30px;
  float: right;
  padding-right:10px;
  color: magenta;
  text-decoration: none;
}

.home-h4 {
  font-family: "Eater Caps";
  text-align: center;
  font-size:  60px;
  color: red;
}

.home-begin {
  font-family: "Eater Caps";
  font-size: 30px;
  text-align: center;
}

.begin {
  font-family: "Eater Caps";
  font-size: 30px;
  color: black;
  text-decoration: none;
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: begin-button; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 5; /* Safari 4.0 - 8.0 */
  animation-name: begin-button;
  animation-duration: 5s;
  animation-delay: 5s;
  animation-iteration-count: 5;
  animation-direction: reverse;

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes begin-button {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes begin-button {
  /*0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}*/

  0%   {background-color:red; left:-700px; top:-480px;}
  25%  {background-color:yellow; left:500px; top:50px;}
  50%  {background-color:blue; left:600px; top:-450px;}
  75%  {background-color:green; left:-600px; top:100px;}
  100% {background-color:red; left:0px; top:0px;}
}
