.play-go-home {
  font-family: "Eater Caps";
  font-size:  30px;
  float: right;
  padding-right:10px;
  color: blue;
  text-decoration: none;
}

.play-greeting {
  font-family: "Eater Caps";
  font-size:  30px;
  text-align: center;
  color: red;
}

.digit {
  font-size: 30px;
}

.go {
  font-family: "Eater Caps";
  font-size: 20px;
  margin-left: 30px;
  background-color: green;
}

.attempt-count {
  font-family: "Eater Caps";
  font-size: 25px;
  margin-left: 20px;
  color: green;
}

.attempt {
  font-family: "Eater Caps";
  font-size: 25px;
  margin-left: 500px;
  color: green;
}

.right-col {
  font-family: "Eater Caps";
  font-size: 25px;
  margin-left: 200px;
  color: green;
}

.wrong-col {
  font-family: "Eater Caps";
  font-size: 25px;
  margin-left: 50px;
  color: green;
}

.win {
  font-family: "Eater Caps";
  font-size: 50px;
  color: red;
  position: fixed;
  bottom: 20vw;
  right: 50vw;
}

.again {
  font-family: "Eater Caps";
  font-size:  30px;
  background:none!important;
  color:inherit;
  border:none;
  padding:0!important;
  float: right;
  cursor: pointer;
  margin-right: 5px;
}

.debug {
  display: none;
}
